In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
#Reading the data
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv")

In [3]:
#Printing the first five rows
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
#Getting information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
#Getting the statistical information about the data
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [6]:
#Getting the correlation of the year 2014
Y2014_corr = df[['Y2014', 'Element Code']]
Y2014_corr.corr()

                 Y2014  Element Code
Y2014         1.000000      0.024457
Element Code  0.024457      1.000000

In [7]:
#Getting the correlation of the year 2014
Y2015_corr = df[['Y2015', 'Element Code']]
Y2015_corr.corr()

                 Y2015  Element Code
Y2015         1.000000      0.023889
Element Code  0.023889      1.000000

In [8]:
#Getting the correlation of the year 2014
Y2016_corr = df[['Y2016', 'Element Code']]
Y2016_corr.corr()

                 Y2016  Element Code
Y2016         1.000000      0.023444
Element Code  0.023444      1.000000

In [9]:
#Getting the correlation of the year 2014
Y2017_corr = df[['Y2017', 'Element Code']]
Y2017_corr.corr()

                 Y2017  Element Code
Y2017         1.000000      0.024254
Element Code  0.024254      1.000000

In [10]:
#Getting the correlation of the year 2014
Y2018_corr = df[['Y2018', 'Element Code']]
Y2018_corr.corr()

                 Y2018  Element Code
Y2018         1.000000      0.024279
Element Code  0.024279      1.000000

In [11]:
#counting the number of minimum countries
df['Area'].value_counts().min()

39

In [12]:
#Grouping by element and getting the sum of the year 2017
df.groupby("Element")
df['Y2017'].sum()

8375729.189999999

In [13]:
#percentage of missing values in the data
percent_missing = df.isnull().sum() * 100 / len(df)
print(percent_missing)

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [14]:
#sum of stock variation
df.groupby(['Element'])
year_2014 = df['Y2014'].var()
print(year_2014)
year_2015 = df['Y2015'].var()
print(year_2015)
year_2016 = df['Y2016'].var()
print(year_2016)
year_2017 = df['Y2017'].var()
print(year_2017)
year_2018 = df['Y2018'].var()
print(year_2018)

2457569.463317292
2570904.335722136
2689623.5972479787
2795123.7476325696
2926777.3030374

In [15]:
#Grouping by items and finding the sum
sum_total_of_Years = df.groupby('Item')[['Y2015', 'Y2018']].sum()
print(sum_total_of_Years)

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [16]:
df['Item'].value_counts()

Item
Milk - Excluding Butter     1262
Eggs                        1142
Miscellaneous                911
Cereals - Excluding Beer     714
Oilcrops                     706
                            ...
Grand Total                  135
Animal Products              135
Vegetal Products             135
Sugar non-centrifugal        121
Population                    90
Name: count, Length: 119, dtype: int64

In [17]:
df.shape

(60943, 12)

In [18]:
#Area with the hieghts sum
# Selecting columns 'Year2017' and 'Area'
selected_columns = df[['Area', 'Y2017']]

# Grouping by 'Area' and calculating the sum of 'Year2017'
grouped_data = selected_columns.groupby('Area').sum()

# Finding the Area with the highest sum in 2017
max_sum_area = grouped_data[grouped_data['Y2017'] == grouped_data['Y2017'].max()]

# Printing the Area with the highest sum in 2017
print("Country with the highest sum in 2017:")
print(max_sum_area)

Country with the highest sum in 2017:
              Y2017
Area
Nigeria  1483268.23

In [19]:
# Grouping by 'Element' and calculating the sum of 'Year2017' 
grouped_data = df.groupby('Element')['Y2017'].sum()

# Printing the total sum of 'Year2017' for each 'Element'
print("Total sum of 'Year2017' for each 'Element':")
print(grouped_data)

Total sum of 'Year2017' for each 'Element':
Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [20]:
# Filter the DataFrame for 'Proteins' in 'Element' and 'Madagascar' in 'Area'
filtered_data = df[(df['Element'] == 'Protein supply quantity (g/capita/day)') & (df['Area'] == 'Madagascar')]

# Calculate the total proteins supply in Madagascar across all years
total_proteins_supply = filtered_data['Y2015'].sum()

# Print the total proteins supply in Madagascar across the year 2015
print("Total proteins supply in Madagascar across the year 2015 is:", total_proteins_supply)

Total proteins supply in Madagascar across the year 2015 is: 173.04999999999998